# Python
.venv
__pycache__
*.pyc
*/*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
*.pyc
*/*.pyc
.idea
.env
.DS_Store
.claude
tests/test_data
download
labellerr/__pycache__/
env.dev
claude.md
